<div class="headerCtn">
  <h3>{{user.name}}</h3>
</div>

<div class="container">
  <div class="row">
    <h3>Vos informations personnelles</h3>
    <button class="changeData" (click)="edit(user)" *ngIf="!isModeEdit">Edition</button>
    <div class="col-sm-12">
      <table class="table">
        <tbody>
          <tr>
            <th scope="row">Adresse email</th>
            <td><input type="text" [disabled]="!isModeEdit" [(ngModel)]="userEmail" /></td>
          </tr>
          <tr>
            <th scope="row">Nom</th>
            <td><input type="text" [disabled]="!isModeEdit" [(ngModel)]="userName" /></td>
          </tr>
          <tr *ngIf="isModeEdit">
            <th scope="row">Nouveau Mot de passe</th>
            <td><input type="password" [disabled]="!isModeEdit" [(ngModel)]="userPassword" /></td>
          </tr>
          <tr *ngIf="isModeEdit">
            <th scope="row">Confirmer Nouveau Mot de passe</th>
            <td><input type="password" [disabled]="!isModeEdit" [(ngModel)]="userConfirmPassword" /></td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="oneErrorDetect">
        <p>{{errorMessage}}</p>
      </div>
      <button (click)="saveNewData()" *ngIf="isModeEdit">Sauvegarder</button>
    </div>
  </div>
</div>

