@font-face {
  font-family: 'philosopher';
  src: url('assets/font/philosopher/Philosopher-Regular.ttf')
}

.ctn {
  padding: 2px;
  box-shadow: 5px 5px 20px rgba(0,0,0,0.5);
  font-family: philosopher;
  -webkit-text-fill-color: transparent;
  background: -webkit-gradient(linear, left top, left bottom, from(#a73e0e), to(#ffe98b));
  background: -o-gradient(linear,left top,left bottom,from(#243146),to(#a5b5c9));
  -webkit-background-clip: text;

  .title {
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #8c0101;
    margin-top: 25px;
  }

  .sub-title {
    text-decoration: underline;
    text-decoration-color: #8c0101;
    margin-left: 15px;
  }

  .newGame {
    text-align: center;
    margin: 20px 0;

    .lauchGame {
      font-family: heroes;
      /*-webkit-text-fill-color: transparent;
      background: -webkit-gradient(linear, left top, left bottom, from(#a73e0e), to(#ffe98b));
      background: -o-gradient(linear,left top,left bottom,from(#243146),to(#a5b5c9));
      -webkit-background-clip: text;*/
      background: rgb(254, 245, 115);
      background: linear-gradient(45deg, rgb(254, 245, 115) 0%, rgb(247, 209, 125) 25%, rgb(184, 68, 12) 51%, rgb(187, 96, 13) 100%);
      border-radius: 7px;
      padding: 10px;
      font-size: 25px;

      span {
        -webkit-text-fill-color: transparent;
        background: -webkit-gradient(linear, left top, left bottom, from(#364464), to(#0a0303));
        background: -o-gradient(linear, left top, left bottom, from(#243146), to(#a5b5c9));
        -webkit-background-clip: text;
      }
    }

    .lauchGame:hover {
      cursor: pointer;
    }
  }

  .titlePresPrincipe {
    h5 {
      margin-left: 35px;
    }
  }

  .presContent{
    .heroes{
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}
