
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="#" routerLink="/">Acceuil</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" *ngIf="authService.userIsAdmin()" routerLink="/player/add">Ajout</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" routerLink="/profil" *ngIf="authService.userIsLoggedIn()">Profil</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" routerLink="/login" *ngIf="!authService.userIsLoggedIn()">Se connecter</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" (click)="authService.logOut()" *ngIf="authService.userIsLoggedIn()">Se déconnecter</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" routerLink="/register" *ngIf="!authService.userIsLoggedIn()">S'inscrire</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" routerLink="/about">A propos</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#" routerLink="/player">Player</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" routerLink="/player/:id">Détail</a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>
