nav {
  .nav.nav-tabs {
    border-bottom: 1px solid #8c0101;
    margin-top: 10px;

    a.active {
      color: #000101;
      background-color: #8c0101;
      border: 1px solid black;
      border-bottom: 1px solid #8c0101;
    }

    a {
      color: #000101;
      background: #5f0300;
      border: 1px solid black;
      border-bottom: 1px solid #8c0101;
    }
  }
}
